<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.funy.addme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupRegActivity"
            android:label="@string/title_activity_signup_reg"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomepageActivity" />
        <activity
            android:name=".ContactcardActivity"
            android:label="@string/title_activity_contactcard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisplaycodeActivity"
            android:label="@string/title_activity_displaycode"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScancodeActivity"
            android:label="@string/title_activity_scancode"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditinfoActivity"
            android:label="@string/title_activity_editinfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisplayQRPageActivity"
            android:label="@string/title_activity_display_qrpage"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
